:root{
     color: black;
}

/*general stylings */



*{
    margin:0 ;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow: scroll;
}
.heading{
    text-align: center;
    font-size: 4rem;
    color: black;
    padding: 1rem;
    margin: 2rem 0;
    background: rgba(255, 51, 153, .05);
}

.heading span{
    color: green;
}

.btn{
     display: inline-block;
     margin-top: 1rem;
     border-radius: 5rem;
     background: black;
     color: white;
     padding: .9rem 3.5rem;
     cursor: pointer;
     font-size: 1.7rem;
}

.btn:hover{
    background: green;
}

/* header stylings*/

header{
    position: sticky;
    top: 0; left: 0; right: 0;
    background: rgb(4, 78, 4);
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0.5rem 1rem rgba(0, 0,0,.1);
}

/* logo stylings */

header .logo{
    width: 100px;
    color: white;
    font-weight: bolder;
}

/*navbar stylings*/

header .navbar a{
    font-size: 2rem;
    padding: 0 1.5rem;
    color:black;
}

header .navbar a:hover{
    color: white;
}

header .navbar a[aria-current]{
    color: white;
}

/*icons stylings*/

header .icons a{
    font-size: 2.5rem;
    color: black;
    margin-left: 1.5rem;
}

header .icons a:hover{
    color: white;
}

/* checkbox and bars stylings*/

header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 3rem;
    color: black;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: .1rem solid rgba(0, 0, 0, .3);
    display: none;
}

/*home section stylings*/
section{
    padding: 2rem 9%;

}

/* adding banner to the home section styling continues*/
.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(images/banner\ 2.jpeg) no-repeat; /*image link - https://www.freepik.com/free-psd/food-menu-restaurant-facebook-cover-template_25654667.htm#fromView=search&page=1&position=45&uuid=2bb4fcde-2f10-4faa-95d3-3c9f29709054 */
    background-size: cover;

}

.home .content{
    max-width: 50rem;
}

.home .content h3{
    font-size: 6rem;
    color: white;
}

.home .content span{
    font-size: 3.5rem;
    color: green;
    padding: 1rem 0;
    line-height: 1.5;
}

.home .content p{
    font-size: 1.5rem;
    color: black;
    padding: 1rem 0;
    line-height: 1.5;
}

/*about section styling*/
.about .row{
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
}

.about .row .video-container {
    flex:1 1 40rem;
    position: relative;
}

.about .row .video-container video{
    width: 100%;
    border: 0.8rem solid white;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    height: 100%;
    object-fit: cover;
    }

    .about .row .video-container video h3{
        color: white;
    }



.about .row .content{
    flex: 1 1 40rem;
   }
 
.about .row .content h3{
    font-size: 3rem;
    color: black;
}

.about .row .content p{
    font-size: 1.5rem;
    color: grey;
    padding: 0.5;
    padding-top: 1rem;
    line-height: 1.5;
}

/* contacts section styling*/
.contact .row{
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 1.5rem;
    align-items: center;
}

.contact .row form{
    flex: 1 1 40rem;
    padding: 2rem 2.5rem;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    border: 1rem solid rgba(0, 0, 0, .1);
    background: white;
    border-radius: .5rem;
}

.contact .row .image {
    flex: 1 1 40rem;
}

.contact .row .image img{
    width: 100%;
}

.contact .row form .box{
    padding: 1rem;
    font-size: 1.7rem;
    color: black;
    text-transform: none;
    border: 1rem solid rgba(0, 0, 0, .1);
    border-radius: .5rem;
    margin: .7rem 0;
    width: 95%;
}


.contact .roe form textarea{
    height: 15rem;
    resize: none;
}

/*about page styling*/

.about-page .row .video-container{
    width: 100%;
    border: 0.8rem solid white;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    height: 100%;
    object-fit: cover;
    align-items: center;
    
}



.about-page .row .content h3{
    font-size: 3rem;
    color: black;
}

 .abt-p{
    font-size: 1.5rem;
    color:white;
    padding: 50px;
    line-height: 1.5;
    width: auto;
    border: 15px solid green;
    margin: 20px;
    background-color: black;
    
   
}

.about-pics{
    width: 700px;
    border: 15px solid black;
    margin-left: 400px;
    margin-top: 50px;
    margin-bottom: 50px;

    background-color: white;

}

/*Events page styling*/

.events {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(images/banner.jpg) no-repeat; /*image link - https://www.freepik.com/free-vector/flat-design-food-facebook-cover_18774188.htm#fromView=search&page=1&position=12&uuid=2bb4fcde-2f10-4faa-95d3-3c9f29709054 */
    background-size: cover;
   
}

.events .content{
    max-width: 50rem;
}

.events .content h1{
    font-size: 5rem;
    color: darkgrey;
}

.events .content span{
    font-size: 3.5rem;
    color: green;
    padding: 1rem 0;
    
}

.events .content p{
    font-size: 1.5rem;
    color: white;
    padding: 1rem 0;
    line-height: 1.5;
}

/* events flexbox styling*/

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background-color: rgb(27, 27, 27);
    width: 370px;
    color: white;
    margin: 10px;
    border-radius: 15px;
}

.card-image{
    height: 270px;
    margin-bottom: 30px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

.card-1{
    background-image:url(images/card\ 1\ image.jpg) ; /*image link - https://www.freepik.com/free-photo/friends-eating-conversating-restaurant_3538411.htm#query=tasting%20food&position=14&from_view=keyword&track=ais_user_b&uuid=5536c8bf-923b-4915-9b3d-ee151467cc8c*/
}

.card-2{
    background-image:url(images/card\ 2\ image.jpg) ; /*image link - https://www.freepik.com/free-photo/pretty-little-girl-is-tossing-vegetables-pan-dark-photo-studio_25130368.htm#fromView=search&page=1&position=7&uuid=487a9c62-f5b4-46c1-bded-83aecde443dc */
}

.card-3 {
    background-image: url(images/card\ 3\ image.jpg); /*image link - https://www.freepik.com/free-photo/medium-shot-people-with-food-donations_20550559.htm#fromView=search&page=1&position=10&uuid=be43ba36-8c16-46d6-93e3-e140404e4433 */
}

.card-4 {
    background-image: url(images/card\ 4\ image.jpg); /*image link -https://www.freepik.com/free-photo/assortment-snack-presented-table_5241149.htm#fromView=search&page=1&position=1&uuid=7bc3879d-0c7c-4f70-a361-7fa9ff5a4ff9 */

}

.card h2 {
    padding: 10px;
}

.card p {
    padding: 10px;
    font-size: 1rem;
}

.card a{
    display: block;
    padding: 15px 20px;
    text-align: center;
    margin: 20px 50px;
    text-decoration: none;
}

.card:hover{
    background-color: rgb(54, 189, 12);
    color: black;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;

}

/*catering page stylings*/

.catering{
    display: flex;
    align-items: center;
    min-height: 50vh;
}



.catering .heading{
  
    font-size: 5rem;
    color: black;
}

 .box-container {
    color: grey;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.box-container .box{
    flex: 1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
    border: 1rem solid rgba(0, 0, 0, .1);
    position: relative;
    background-color: black;
}

.box-container .box .image{
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow: hidden;
}

.box-container .box .image img{
    height: 25rem;
    width: 300px;

}

.box-container .box:hover .image img{
    transform: scale(1.1);
}

.box-container .box .image .icons{
    position: absolute;
    bottom: -7rem; left: 0; right: 0;
    display: flex;
}

.box-container .box .image .icons{
    bottom: 0;
}

.box-container .box .image .icons a{
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    width: 50% ;
    background: green;
    color: white;

}

.box-container .box .image .icons .cart-btn{
    border-left: 1rem solid #fff7;
    border-right: 1rem solid #fff7;
    width: 100%;
}

.box-container .box .image .icons a:hover{
    background: #333;
}

.box-container .box .content{
    padding: 2rem;
    text-align: center;
}

.box-container .box .content h3{
    font-size: 2.5rem;
    color: black;
}

.box-container .box .content .price{
    font-size: 2.5rem;
    color: green;
    font-weight: bolder;
    padding-top: 1rem;
}

/*recipes section stylings*/

.recipe{
  display: block;
    align-items: center;
    min-height: 50vh;
}


.recipe .heading{
    
    font-size: 5rem;
   
    color: black;
  
}

.recipe .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.recipe .box-container .box{
    flex: 1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    border-radius: 1rem;
    padding: 3rem 2rem;
    position: relative;
    background-color: black;
    border: .1rem solid rgba(0, 0, 0, .1);
}



.recipe .box-container .box .fa-quote-right{
    position: absolute;
    bottom: 3rem; right: 3rem;
    font-size: 6rem;
    color: green;
}


.recipe .box-container .box .stars{
    color: gold;
    font-size: 2rem;
}

.recipe .box-container .box p{
    color: green;
    font-size: 1.5rem;
    line-height: 1.5;
}

.recipe .box-container .box .yummy{
     display: flex;
    align-items: center;
    padding-top: 2rem;
}

.recipe .box-container .box .yummy img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}

.recipe .box-container .box .yummy h3{
    font-size: 1.5rem;
    color: white;
}
.recipe .box-container .box .yummy span{
    font-size: 1.5rem;
    color: whitesmoke;
}

/*footer styling*/
footer{
    background-color: green;
}

.footerContainer{
    width: 100%;
    padding: 70px 30px 20px;
}

.socialicons{
    display: flex;
    justify-content: center;
}

.socialicons a{
    text-decoration: none;
    padding: 10px;
    background-color: black;
    margin: 10px;
    border-radius: 50%;
}

.socialicons a i{
    font-size: 2.3em;
    color: white;
    opacity: 0.9;
}

.socialicons a:hover{
    background-color:white;
    transition: 0.5s;
}

.socialicons a:hover i{
    color: black;
    transition: 0.5s;
}

.footerNav{
    margin: 30px 0;
}

.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footerNav ul li a{
    color: black;
    margin: 20px;
    text-decoration: none;
    font-size: 1.6em;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover{
    opacity: 1;
    color: white;
}

.footerbottom{
    background-color: black;
    padding: 20px;
    text-align: center;
}

.footerbottom p{
    color: white;
}

.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}



































/*media queries*/

/*ipad display*/

@media (max-width:991px) {
    html{
        font-size: 55%;
    }

    header{
        padding:2rem ;
    }

    section{
        padding: 2rem;
    }

    .home{
        background-position: left;
}
.abt-p{
    font-size: 1.5rem;
width: 90%;
margin: 0;
    padding: 0;
  }

  .about-pics{
    width: 90%;
    margin: 0;
    padding: 0;
  }

 .events {
    background-position: left;
 }

}

/* Iphones and smaller displays*/

@media (max-width:768px){

    header .fa-bars{
        display: block;
    }

    header .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: black;
        border-top: .1rem solid rgba(0, 0,0,.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header #toggler:checked ~ .navbar{
        clip-path: polygon(0 0, 100% 0, 100% 100%,0% 100%);
    }

    header .navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        background: green;
        border: 1rem solid rgba(0, 0,0,.1);
        display: block;

    }

    .home .content h3{
        font-size: 5rem;
    }

    .home .content span{
        font-size: 2.5rem;
    }
    .abt-p{
        font-size: 1.5rem;
    width: 90%;
    margin: 0;
    padding: 0;
      }

      .about-pics{
        width: 90%;
        margin: 0;
    padding: 0;
      }

      .events .content h1{
        font-size: 5rem;
      }

      .footerNav ul{
        flex-direction: column;
    }

    .footerNav ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }

    
      

}

@media (max-width:450px) {
    html{
        font-size: 50%;
    }

    .heading{
        font-size: 3rem;
    }

.abt-p{
    font-size: 1.5rem;
width:90%;
margin: 10px 0;
    padding: 0;
  }
  .about-pics{
    width: 90%;
    margin: 10px 0;
    padding: 0;
  }
 
}

#map {
    height: 500px;
    width: 700px;
    margin-left: 20%;
}

